/* Fonts */
@font-face {
  font-family: 'Gilroy';
  src: local("Gilroy ExtraBold"), local("Gilroy-ExtraBold"), url("../fonts/Gilroy-ExtraBold.woff2") format("woff2"), url("../fonts/Gilroy-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Gilroy';
  src: local("Gilroy Light"), local("Gilroy-Light"), url("../fonts/Gilroy-Light.woff2") format("woff2"), url("../fonts/Gilroy-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

/* Scaffolding */
* {
  box-sizing: border-box; }

a {
  text-decoration: none; }

main {
  display: block; }

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  font-family: "Gilroy", "Tahoma", sans-serif;
  letter-spacing: 1px;
  text-align: center;
  color: #141414; }
  @media (min-width: 750px) {
    body {
      font-size: 16px;
      line-height: 24px; } }
  @media (min-width: 1170px) {
    body {
      font-size: 18px;
      line-height: 28px; } }

.page-header {
  display: block; }

.page-main {
  overflow: hidden; }

.heading {
  margin: 0;
  padding: 0;
  font-weight: 800;
  font-size: 24px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #000000; }
  @media (min-width: 750px) {
    .heading {
      font-size: 30px; } }
  @media (min-width: 1170px) {
    .heading {
      font-size: 45px; } }

.btn {
  display: block;
  padding: 20px;
  font: inherit;
  font-weight: 800;
  text-align: center;
  color: #ffffff;
  background-color: #f5112c;
  box-shadow: 0px 10px 18px 0px rgba(246, 27, 60, 0.55);
  border-radius: 31px;
  cursor: pointer; }
  @media (min-width: 1170px) {
    .btn {
      padding-left: 15px;
      padding-right: 15px;
      font-size: 18px;
      letter-spacing: 1.3px;
      border-radius: 35px; } }

.btn:hover,
.btn:focus {
  background-color: #e30a23;
  transition: background-color 0.3s; }

.btn:active {
  box-shadow: 0px 5px 5px 0px rgba(246, 27, 60, 0.55); }

.logo {
  display: block;
  width: 64px; }
  .logo img {
    width: 100%; }
  @media (min-width: 1170px) {
    .logo {
      width: 104px; } }

/* Call to action */
.call-to-action {
  display: flex;
  flex-direction: column; }

.call-to-action__tel {
  color: #141414; }

.call-to-action__call-back {
  position: relative;
  display: inline-block;
  color: #f5112c; }
  .call-to-action__call-back::after {
    content: "";
    position: absolute;
    bottom: -7px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #f5112c;
    transition: all 200ms; }
  .call-to-action__call-back:hover::after, .call-to-action__call-back:focus::after {
    left: 50%;
    width: 0; }

/* Animation */
@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px); }
  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px); }
  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px); }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }
@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px); }
  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px); }
  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px); }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

/* Page header */
.page-header__wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 64px;
  margin: 0 auto;
  padding: 0 15px;
  line-height: 20px;
  color: #141414; }
  @media (min-width: 1170px) {
    .page-header__wrap {
      padding-top: 30px; } }

.page-header__address {
  display: none; }
  @media (min-width: 750px) {
    .page-header__address {
      display: block;
      margin-left: auto; } }

.page-header__call-to-action {
  margin-left: auto; }
  @media (min-width: 750px) {
    .page-header__call-to-action {
      flex-direction: row;
      margin-left: 0; } }

.page-header__tel,
.page-header__call-back {
  margin-left: 30px; }

/* Banner */
@media (min-width: 750px) {
  .banner--top {
    background: url(../img/english-yes.svg) center 120px no-repeat;
    background-size: 1350px 200px; }
    .banner--top .banner__wrap {
      padding-bottom: 0; } }

@media (min-width: 900px) {
  .banner--top .banner__img {
    margin-left: 0; } }

@media (min-width: 1170px) {
  .banner--top {
    background-position-y: top;
    background-size: 1890px 280px; } }

.banner--bottom .banner__img-wrap {
  margin-bottom: 20px; }

@media (max-width: 749px) {
  .banner--bottom .banner__offer {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto; } }

@media (min-width: 750px) {
  .banner--bottom .banner__img {
    width: 695px;
    margin-left: -345px; }
  .banner--bottom .banner__img-wrap {
    width: 50%; }
  .banner--bottom .banner__text-wrap {
    width: 50%; }
  .banner--bottom .banner__btn {
    width: 90%; } }

@media (min-width: 1170px) {
  .banner--bottom .banner__img {
    width: 795px;
    margin-left: -300px; }
  .banner--bottom .banner__img-wrap {
    width: 60%;
    text-align: center; }
  .banner--bottom .banner__text-wrap {
    width: 50%; }
  .banner--bottom .banner__btn {
    width: 100%; } }

.banner__wrap {
  padding: 0 15px 60px; }
  @media (min-width: 750px) {
    .banner__wrap {
      display: flex; } }

@media (min-width: 750px) {
  .banner__text-wrap {
    width: 60%;
    padding: 90px 0 0 15px;
    text-align: left; } }

@media (min-width: 1170px) {
  .banner__text-wrap {
    width: 50%; } }

.banner__heading {
  position: relative;
  margin-top: 10px;
  margin-bottom: 35px; }
  .banner__heading::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 64px;
    height: 7px;
    background-color: #f5112c; }
  @media (min-width: 750px) {
    .banner__heading {
      margin-bottom: 45px; }
      .banner__heading::after {
        bottom: -25px;
        left: 0;
        -webkit-transform: translateX(0);
                transform: translateX(0); } }
  .banner__heading small {
    display: block;
    font-size: 18px; }
    @media (min-width: 750px) {
      .banner__heading small {
        font-size: 24px; } }
    @media (min-width: 1170px) {
      .banner__heading small {
        font-size: 34px; } }

.banner__offer {
  margin: 0;
  padding: 0;
  margin: 12px 0 20px; }
  @media (min-width: 750px) {
    .banner__offer {
      margin-bottom: 35px; } }
  @media (min-width: 1170px) {
    .banner__offer {
      margin-bottom: 55px; } }

@media (max-width: 749px) {
  .banner__btn {
    width: 100%;
    max-width: 320px;
    margin: 0 auto; } }

@media (min-width: 750px) {
  .banner__btn {
    width: 78%;
    max-width: 380px;
    font-size: 14px; } }

@media (min-width: 1170px) {
  .banner__btn {
    font-size: 18px; } }

.banner__img-wrap {
  text-align: center; }
  @media (min-width: 750px) {
    .banner__img-wrap {
      width: 40%;
      max-width: 585px;
      text-align: right; } }
  @media (min-width: 1170px) {
    .banner__img-wrap {
      width: 50%; } }

@media (min-width: 750px) {
  .banner__img {
    width: 365px;
    margin-left: -100px; } }

@media (min-width: 900px) {
  .banner__img {
    width: 100%; } }

/* Motivation */
.motivation {
  background: url(../img/circle-grey.svg) center no-repeat;
  background-size: 100% 100%; }
  @media (min-width: 1000px) {
    .motivation {
      background-position: 70% center; } }

.motivation__wrap {
  padding: 80px 15px; }
  @media (min-width: 750px) {
    .motivation__wrap {
      padding-top: 120px;
      padding-bottom: 120px;
      text-align: left; } }
  @media (min-width: 1170px) {
    .motivation__wrap {
      padding-top: 170px;
      padding-top: 180px; } }

@media (max-width: 749px) {
  .motivation__text {
    margin: 0 auto 20px;
    max-width: 290px; } }

@media (min-width: 750px) {
  .motivation__text {
    width: 262px;
    margin: 0 30px;
    text-align: left; } }

@media (min-width: 1170px) {
  .motivation__text {
    width: 370px; } }

@media (max-width: 749px) {
  .motivation__img {
    width: 100%;
    margin: 0 auto;
    text-align: center; }
    .motivation__img img {
      width: 100%;
      max-width: 400px; } }

@media (min-width: 750px) {
  .motivation__img--hotel img {
    width: 407px; }
  .motivation__img--compas img {
    width: 345px; }
  .motivation__img--airport img {
    width: 345px; }
  .motivation__img--socks img {
    width: 345px; } }

@media (min-width: 1170px) {
  .motivation__img--hotel img {
    width: 457px; }
  .motivation__img--compas img {
    width: 432px; }
  .motivation__img--airport img {
    width: 345px; }
  .motivation__img--socks img {
    width: 557px; } }

.motivation__lead {
  position: relative;
  display: block;
  margin: 0 auto 60px;
  width: 70%; }
  .motivation__lead::after {
    content: "";
    position: absolute;
    top: -30%;
    right: -10%;
    width: 100px;
    height: 160%;
    background: url(../img/question-mark.svg) center no-repeat; }
    @media (min-width: 1170px) {
      .motivation__lead::after {
        width: 150px; } }
  @media (min-width: 750px) {
    .motivation__lead {
      width: 33.3%;
      margin: 0 0 60px; } }
  @media (min-width: 1000px) {
    .motivation__lead {
      margin-bottom: 0;
      font-size: 40px; } }

.motivation__item {
  position: relative;
  margin-bottom: 40px; }
  @media (min-width: 750px) {
    .motivation__item {
      position: relative;
      display: flex;
      justify-content: flex-end;
      align-items: center; }
      .motivation__item:nth-of-type(even) {
        flex-direction: row-reverse; } }
  @media (min-width: 1170px) {
    .motivation__item {
      margin-bottom: 60px; } }

.motivation__number {
  font-weight: 800;
  font-size: 48px;
  font-family: 'Gilroy', 'Tahoma', sans-serif; }
  .motivation__number span {
    color: #f5112c; }
  @media (min-width: 750px) {
    .motivation__number {
      position: absolute; } }

.motivation__item:nth-of-type(1) .motivation__number {
  top: 55px;
  right: 365px; }
  @media (min-width: 1170px) {
    .motivation__item:nth-of-type(1) .motivation__number {
      top: 75px;
      right: 420px; } }

@media (min-width: 750px) {
  .motivation__item:nth-of-type(1) .motivation__text {
    width: 248px; } }

@media (min-width: 1170px) {
  .motivation__item:nth-of-type(1) .motivation__text {
    width: 262px; } }

.motivation__item:nth-of-type(2) .motivation__number {
  top: 50px;
  left: 315px; }
  @media (min-width: 1170px) {
    .motivation__item:nth-of-type(2) .motivation__number {
      top: 65px;
      left: 400px; } }

.motivation__item:nth-of-type(3) .motivation__number {
  top: 140px;
  right: 304px; }

.motivation__number--final {
  top: 0;
  left: 300px;
  text-transform: none; }
  @media (min-width: 1170px) {
    .motivation__number--final {
      top: 30px;
      left: 510px; } }

/* Features */
.features {
  position: relative;
  padding: 40px 15px 20px; }
  @media (min-width: 750px) {
    .features {
      padding-top: 120px;
      padding-bottom: 120px;
      text-align: left; } }

.features__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin: 0 auto;
  text-align: center; }
  @media (min-width: 750px) {
    .features__list {
      display: flex;
      width: 675px;
      margin: 0;
      text-align: left; } }
  @media (min-width: 1170px) {
    .features__list {
      width: 820px; } }

.features__item br {
  display: none; }

@media (min-width: 750px) {
  .features__item {
    width: 33.3%;
    max-width: 262px;
    padding-left: 30px; }
    .features__item:first-of-type {
      padding-left: 0; }
    .features__item br {
      display: block; } }

@media (min-width: 1170px) {
  .features__item {
    padding-left: 43px; } }

.features__lead {
  position: relative;
  display: block;
  margin-bottom: 70px; }
  .features__lead::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 64px;
    height: 7px;
    background-color: #f5112c; }
  @media (min-width: 750px) {
    .features__lead {
      width: 48%; }
      .features__lead::after {
        bottom: -25px;
        left: 0;
        -webkit-transform: translateX(0);
                transform: translateX(0); } }

.features__heading {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 20px;
  font-weight: 800; }
  .features__heading::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -65%);
            transform: translate(-50%, -65%);
    width: 50px;
    height: 50px;
    z-index: -1;
    background: url(../img/circle-grey.svg) center no-repeat;
    background-size: 100%; }
    @media (min-width: 750px) {
      .features__heading::before {
        left: 0;
        -webkit-transform: translate(0, -60%);
                transform: translate(0, -60%); } }

.features__text {
  margin: 0;
  padding: 0;
  margin-bottom: 50px; }

.features__img {
  display: none; }
  @media (min-width: 750px) {
    .features__img {
      position: absolute;
      top: -12%;
      left: 545px;
      display: block;
      width: 600px; } }
  @media (min-width: 1170px) {
    .features__img {
      top: -25%;
      left: 610px;
      width: 908px; } }

/* Teachers */
.teachers {
  max-width: 780px;
  margin: 0 auto;
  padding: 0 15px; }
  @media (min-width: 1170px) {
    .teachers {
      max-width: 1170px; } }

.teachers__heading {
  margin-bottom: 30px; }
  @media (min-width: 750px) {
    .teachers__heading {
      margin-bottom: 50px; } }
  @media (min-width: 1170px) {
    .teachers__heading {
      text-align: left; } }

.teachers__list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left; }
  @media (min-width: 750px) {
    .teachers__list {
      display: flex;
      flex-wrap: wrap; } }

.teachers__item {
  display: flex;
  flex-direction: column;
  max-width: 390px;
  margin: 0 auto; }
  @media (min-width: 750px) {
    .teachers__item {
      width: 48%;
      margin: 0 2%; }
      .teachers__item:first-of-type, .teachers__item:nth-of-type(2n+1) {
        margin-left: 0; }
      .teachers__item:nth-of-type(2n) {
        margin-right: 0; } }
  @media (min-width: 1170px) {
    .teachers__item {
      width: 360px;
      margin: 0 1.3%; }
      .teachers__item:nth-of-type(2n+1) {
        margin-left: 1.3%; }
      .teachers__item:nth-of-type(2n) {
        margin-right: 1.3%; }
      .teachers__item:nth-of-type(3n+1) {
        margin-left: 0; }
      .teachers__item:nth-of-type(3n) {
        margin-right: 0; } }

.teachers__img-wrap {
  order: -1; }

.teachers__photo {
  display: block;
  width: 100%; }

.teachers__name {
  margin: 0;
  padding: 0;
  margin-top: 24px;
  margin-bottom: 15px;
  font-weight: 800; }
  @media (min-width: 750px) {
    .teachers__name {
      margin-top: 30px; } }

.teachers__text {
  margin: 0;
  padding: 0;
  margin-bottom: 40px; }

/* Program */
.program {
  display: flex;
  flex-direction: column-reverse; }
  @media (min-width: 750px) {
    .program {
      flex-direction: row-reverse;
      text-align: left; } }

.program__heading {
  position: relative;
  margin-top: 35px;
  margin-bottom: 30px; }
  .program__heading::after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 64px;
    height: 7px;
    background-color: #f5112c; }
  @media (min-width: 400px) {
    .program__heading br {
      display: none; } }
  @media (min-width: 750px) {
    .program__heading {
      margin-top: 40px;
      margin-bottom: 55px; }
      .program__heading::after {
        bottom: -25px;
        left: 0;
        -webkit-transform: translateX(0);
                transform: translateX(0); } }

.program__price {
  display: block;
  margin-bottom: 15px;
  font-weight: 300;
  font-size: 24px;
  color: #f5112c; }
  @media (min-width: 750px) {
    .program__price {
      margin-bottom: 20px;
      font-size: 30px; } }
  @media (min-width: 1170px) {
    .program__price {
      font-size: 45px; } }

.program__summary {
  margin: 0;
  padding: 0;
  margin-bottom: 30px; }

.program__img {
  margin-left: -45px; }
  @media (min-width: 750px) {
    .program__img {
      flex-grow: 1;
      margin-left: -15px;
      text-align: center; }
      .program__img img {
        width: 612px;
        height: 881px; } }
  @media (min-width: 1170px) {
    .program__img {
      margin-left: -222px; } }

.program__wrap {
  padding: 0 15px; }
  @media (max-width: 750px) {
    .program__wrap {
      max-width: 380px;
      margin: 0 auto; } }
  @media (min-width: 750px) {
    .program__wrap {
      flex-shrink: 0;
      width: 625px; } }
  @media (min-width: 1170px) {
    .program__wrap {
      width: 780px; } }

.program__list {
  margin: 0;
  padding: 0;
  list-style: none; }
  @media (min-width: 750px) {
    .program__list {
      -webkit-column-count: 2;
              column-count: 2;
      -webkit-column-gap: 30px;
              column-gap: 30px;
      text-align: left; } }

@media (min-width: 750px) {
  .program__item {
    min-height: 135px; } }

.program__item-heading {
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
  font-weight: 800;
  font-size: 14px; }
  @media (min-width: 750px) {
    .program__item-heading {
      font-size: 16px; } }
  @media (min-width: 1170px) {
    .program__item-heading {
      font-size: 18px; } }

.program__text {
  margin: 0;
  padding: 0;
  margin-bottom: 24px; }

/* Algorithm */
.algorithm {
  padding-top: 80px;
  padding-bottom: 100px;
  background: url(../img/circle-grey.svg) center no-repeat;
  background-size: auto 100%; }

.algorithm__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.algorithm__heading,
.algorithm__text-wrap,
.algorithm__img {
  padding: 0 15px; }

.algorithm__heading {
  position: relative;
  margin-bottom: 60px; }
  .algorithm__heading::after {
    content: "";
    position: absolute;
    bottom: -25px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 64px;
    height: 7px;
    background-color: #f5112c; }
  @media (min-width: 750px) {
    .algorithm__heading {
      width: 44%;
      text-align: left; }
      .algorithm__heading::after {
        bottom: -25px;
        left: 15px;
        -webkit-transform: translateX(0);
                transform: translateX(0); } }

@media (min-width: 750px) {
  .algorithm__item {
    display: flex;
    align-items: center;
    padding-bottom: 70px; }
    .algorithm__item:nth-of-type(even) {
      flex-direction: row-reverse; } }

@media (min-width: 750px) {
  .algorithm__text-wrap {
    width: 50%;
    text-align: left; } }

.algorithm__item-heading {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  width: auto;
  margin-bottom: 12px;
  padding: 0 30px;
  font-weight: 800; }
  .algorithm__item-heading::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 18px;
    height: 15px;
    background: url(../img/arrow.png) center no-repeat;
    background-size: 100%; }

.algorithm__text {
  margin: 0;
  padding: 0;
  margin-bottom: 24px; }
  @media (max-width: 749px) {
    .algorithm__text {
      max-width: 365px;
      margin-left: auto;
      margin-right: auto; } }
  @media (min-width: 750px) {
    .algorithm__text {
      margin-bottom: 0;
      padding-left: 30px; } }

.algorithm__img {
  margin-bottom: 40px; }
  .algorithm__img img {
    display: block; }
    @media (max-width: 749px) {
      .algorithm__img img {
        margin-left: auto;
        margin-right: auto; } }
  @media (min-width: 750px) {
    .algorithm__img {
      width: 50%;
      margin-bottom: 0; }
      .algorithm__img img {
        width: 100%; } }

/* Reviwes */
.reviews {
  margin-bottom: 50px;
  padding: 0 15px; }
  @media (min-width: 750px) {
    .reviews {
      text-align: left; } }

.reviews__list {
  margin-bottom: 80px; }

.reviews__heading {
  position: relative;
  margin: 0;
  padding: 0;
  margin-top: 30px;
  margin-bottom: 50px; }
  .reviews__heading::after {
    content: "";
    position: absolute;
    bottom: -23px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 64px;
    height: 7px;
    background-color: #f5112c; }
  @media (min-width: 750px) {
    .reviews__heading {
      margin-bottom: 70px; }
      .reviews__heading::after {
        bottom: -30px;
        left: 0;
        -webkit-transform: translateX(0);
                transform: translateX(0); } }

.reviews__item {
  padding-bottom: 40px; }
  @media (min-width: 750px) {
    .reviews__item {
      display: flex; } }

.reviews__text-wrap {
  margin-bottom: 30px; }
  @media (min-width: 750px) {
    .reviews__text-wrap {
      max-width: 850px;
      margin-left: 30px;
      margin-bottom: 50px; } }
  @media (min-width: 1170px) {
    .reviews__text-wrap {
      margin-left: 60px; } }

.reviews__author-photo {
  margin-bottom: 25px; }
  .reviews__author-photo img {
    display: block; }
    @media (max-width: 749px) {
      .reviews__author-photo img {
        margin: 0 auto; } }
    @media (min-width: 1170px) {
      .reviews__author-photo img {
        width: 165px; } }

.reviews__author-name {
  margin: 0;
  padding: 0;
  margin-bottom: 12px; }
  @media (min-width: 750px) {
    .reviews__author-name {
      margin-bottom: 24px; } }

.reviews__text {
  margin: 0;
  padding: 0;
  margin-bottom: 12px; }
  @media (min-width: 750px) {
    .reviews__text {
      margin-bottom: 18px; } }

.reviews__author-link {
  position: relative;
  padding-bottom: 6px;
  color: #f5112c; }
  .reviews__author-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #f5112c;
    transition: all 0.3s; }
  .reviews__author-link:hover::after, .reviews__author-link:focus::after {
    left: 50%;
    width: 0; }

/* Slider */
@-webkit-keyframes swipe-right {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0); } }
@keyframes swipe-right {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@-webkit-keyframes swipe-left {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%); }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@keyframes swipe-left {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%); }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background-color: #e9e9e9;
  opacity: 1; }

.swiper-pagination-bullet-active {
  opacity: 1;
  background-color: #f5112c;
  box-shadow: 0px 4px 10px 0px rgba(245, 17, 44, 0.58); }

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 10px; }

@media (min-width: 750px) {
  .swiper-pagination-bullets {
    width: 100%;
    height: 7px;
    text-align: left;
    background-color: #e9e9e9;
    border-radius: 3.5px; }
  .swiper-pagination-bullet {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 33.3%;
    height: 7px;
    background-color: #e9e9e9;
    border-radius: 3.5px;
    opacity: 0;
    z-index: 20; }
    .swiper-pagination-bullet:nth-of-type(2) {
      left: 33.3%; }
    .swiper-pagination-bullet:nth-of-type(3) {
      left: 66.6%; }
  .swiper-pagination-bullet:focus {
    opacity: 1; }
  .swiper-pagination-bullet-active {
    opacity: 1;
    background-color: #f5112c;
    box-shadow: 0px 4px 10px 0px rgba(245, 17, 44, 0.58);
    -webkit-animation-name: swipe-right;
            animation-name: swipe-right;
    -webkit-animation-duration: 0.3s;
            animation-duration: 0.3s; }
  .swiper-pagination-bullet-active:first-child {
    -webkit-animation-name: swipe-left;
            animation-name: swipe-left;
    -webkit-animation-duration: 0.3s;
            animation-duration: 0.3s; }
  .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0; } }

@media (min-width: 1170px) {
  .swiper-container-horizontal > .swiper-pagination-bullets {
    width: 94%; } }

/* Footer */
.page-footer {
  background-color: #f8f8f8; }

.page-footer__wrap {
  padding: 50px 15px; }
  @media (min-width: 750px) {
    .page-footer__wrap {
      display: flex;
      align-items: baseline; } }

@media (min-width: 750px) {
  .page-footer__right-wrap {
    margin-left: auto;
    text-align: right; } }

@media (min-width: 1170px) {
  .page-footer__right-wrap {
    margin-left: auto; } }

@media (min-width: 750px) {
  .page-footer__left-wrap {
    text-align-last: left; } }

@media (min-width: 1170px) {
  .page-footer__left-wrap {
    display: flex;
    align-items: flex-end;
    width: 750px; } }

.page-footer__descripton {
  margin: 0;
  padding: 0;
  margin-bottom: 8px; }

.page-footer__address {
  margin: 0;
  padding: 0;
  margin-bottom: 15px; }
  @media (min-width: 1170px) {
    .page-footer__address {
      margin-left: auto;
      margin-bottom: 8px; } }

@media (min-width: 1170px) {
  .page-footer__call-to-action {
    flex-direction: row; }
    .page-footer__call-to-action a {
      margin-left: 30px; } }

.page-footer__logo {
  margin: 0 auto 15px; }
  @media (min-width: 750px) {
    .page-footer__logo {
      margin-left: 0;
      margin-bottom: 16px; } }

.page-footer__tel {
  margin-bottom: 7px; }

/* Social */
.social {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  margin-bottom: 24px; }
  @media (min-width: 750px) {
    .social {
      justify-content: flex-end;
      margin-bottom: 16px; } }

.social__item {
  display: inline-block;
  width: 40px;
  height: 40px;
  opacity: 0.2;
  cursor: pointer; }
  .social__item:hover, .social__item:focus {
    opacity: 0.5; }
  .social__item--vk {
    margin-right: 18px;
    background-image: url(../img/vk.svg);
    background-size: 100% 23px;
    background-position: right bottom 3px;
    background-repeat: no-repeat; }
  .social__item--insta {
    margin-right: 14px;
    background-image: url(../img/insta.svg);
    background-size: 78%;
    background-position: right bottom;
    background-repeat: no-repeat; }
  .social__item--youtube {
    margin-right: 8px;
    background-image: url(../img/yt.svg);
    background-size: auto 75%;
    background-position: right bottom;
    background-repeat: no-repeat; }
  .social__item--ok {
    background-image: url(../img/ok.svg);
    background-size: auto 80%;
    background-position: right bottom;
    background-repeat: no-repeat; }

/* Top link */
.top-link {
  position: fixed;
  right: 20px;
  bottom: 20px;
  display: block;
  opacity: 0;
  transition: opacity 0.6s; }

.top-link--active {
  opacity: 0.4; }

.top-link:hover {
  opacity: 1; }

/* PopUp */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100vh;
  z-index: 100; }
  .modal::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.6; }

.modal__wrap {
  position: relative;
  top: 50vh;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 40px 10px;
  text-align: center;
  background-color: #ffffff;
  opacity: 1; }
  @media (max-width: 749px) {
    .modal__wrap {
      width: 90%;
      max-width: 340px; } }
  @media (min-width: 750px) {
    .modal__wrap {
      width: 71%;
      max-width: 835px;
      padding-top: 60px;
      padding-bottom: 60px; } }
  @media (min-width: 1170px) {
    .modal__wrap {
      padding-top: 100px;
      padding-bottom: 100px; } }

.modal__heading {
  margin: 0;
  padding: 0;
  margin-bottom: 17px; }
  @media (min-width: 750px) {
    .modal__heading {
      margin-bottom: 25px; } }
  @media (min-width: 1170px) {
    .modal__heading {
      font-size: 34px; } }

.modal__description {
  margin: 0;
  padding: 0;
  margin-bottom: 15px; }
  @media (min-width: 750px) {
    .modal__description {
      width: 510px;
      margin: 0 auto 20px; } }

@media (min-width: 1170px) {
  .modal--success .modal__description {
    width: 540px; } }

.modal__btn {
  width: 290px;
  margin: 0 auto;
  border: none; }

.modal__toggle {
  position: absolute;
  top: 15px;
  right: 15px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 18px;
  height: 18px;
  background-color: transparent;
  border: none;
  cursor: pointer; }
  .modal__toggle::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 100%;
    height: 2px;
    background-color: #141414; }
  .modal__toggle::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 2px;
    height: 100%;
    background-color: #141414; }
  @media (min-width: 750px) {
    .modal__toggle {
      top: 30px;
      right: 30px; } }

.modal--show,
.modal--nojs {
  display: block; }

/* Contact form */
.contact-form {
  width: 257px;
  margin: 0 auto; }
  @media (min-width: 750px) {
    .contact-form {
      width: 370px; } }

.contact-form__item {
  display: block;
  width: 100%;
  margin-bottom: 12px; }
  @media (min-width: 750px) {
    .contact-form__item {
      margin-bottom: 17px; } }

.contact-form__input {
  width: 100%;
  height: 56px;
  margin: 0;
  padding: 0;
  padding: 20px;
  text-align: center;
  font: inherit;
  border: none;
  border: 1px solid #bababa;
  border-radius: 31px; }
  @media (min-width: 1170px) {
    .contact-form__input {
      height: 66px;
      border-radius: 35px; } }

.contact-form__btn {
  width: 100%;
  border: none; }

/* 1170px - centered */
@media (min-width: 1170px) {
  .page-header__wrap,
  .banner__wrap,
  .motivation__wrap,
  .features,
  .teachers,
  .program,
  .algorithm__wrap,
  .reviews,
  .page-footer__wrap {
    width: 1170px;
    margin: 0 auto; } }
